@model <%= "Skellington.Models.#{@entity_type}.#{@filing_type}.Filing" %>

<h1><%= "#{@entity_type} - #{@filing_type}" %></h1>

@using (Html.BeginForm()) {

<% @tables.each do |table| %>
<!--
################################################################
# Fields for <%= table.name %>
################################################################
-->
<fieldset id="<%= table.name %>">
	<legend><%= table.name %></legend>
<% table.fields.each do |field| %>
  <div class="fieldline">
  	@Html.LabelFor(model => model.<%= "#{table.name}.#{field.csharp_name}" %>)
  	@Html.EditorFor(model => model.<%= "#{table.name}.#{field.csharp_name}" %>)
  </div>
<% end %>
</fieldset>
<% end %>

}