@model <%= "Skellington.Models.#{@entity_type}.#{@filing_type}.Filing" %>

<h1><%= "#{@entity_type} - #{@filing_type}" %></h1>

@using (Html.BeginForm()) {

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.EntityID)
@Html.HiddenFor(model => model.EntityType)
@Html.HiddenFor(model => model.FilingType)

<% @tables.each do |table| %>
<!--
################################################################
# Fields for <%= table.name %>
################################################################
-->
<fieldset id="<%= table.name %>">
	<legend><%= table.display_name %></legend>@Html.HiddenFor(model => model.<%= table.name %>.ID)
<% table.fields.each do |field| %>
  <% if field.csharp_name == "FilingID" %><%# "@Html.HiddenFor(#{table.name}.#{field.csharp_name})" %><% else %><div class="fieldline">
  	@Html.LabelFor(model => model.<%= "#{table.name}.#{field.csharp_name}" %>)
  	@Html.EditorFor(model => model.<%= "#{table.name}.#{field.csharp_name}" %>)
  </div><% end %>
<% end %>
</fieldset>
<% end %>

<input type="submit" value="Save Changes" />

}
