@model <%= "Skellington.Models.#{@entity_type}.#{@filing_type}.Filing" %>

<<<<<<< HEAD
<h1><%= "#{@entity_type} - #{@filing_type}" %></h1>

@section navigation {
  <ul>
    <% @tables.each do |table| %>
      <li><a href="javascript:void(0);" id="nav-<%= table.name %>" class="navlink<%= " navlink-active" if table == @tables.first  %>"><%= table.display_name  %></a></li><% end %>
  </ul>
}

=======
>>>>>>> finalized all calulations and pagination
@using (Html.BeginForm()) {

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.EntityID)
@Html.HiddenFor(model => model.EntityType)
@Html.HiddenFor(model => model.FilingType)

<% @tables.each do |table| %>
<% current_group = "" %>
<% current_subgroup = "" %>
<!--
################################################################
# Fields for <%= table.name %>
################################################################
-->
<fieldset id="<%= table.name %>" class="tabpage">
	<legend><div><%= table.display_name %></div></legend>@Html.HiddenFor(model => model.<%= table.name %>.ID)
<% table.fields_all.each do |field| %>
  <% if field.csharp_name == "FilingID" %>@Html.HiddenFor(model => model.<%= "#{table.name}.#{field.csharp_name}" %>)<% else %><% if field.category != current_group %><h3><%= field.category %></h3><% current_group = field.category %><% end %>
  <% if (field.sub_category != current_subgroup) %><% if (field.sub_category) %><div class="fieldline"><%= field.sub_category %>:</div><% if (field.tertiary_category) %><div class="fieldline"><%= field.tertiary_category %>:</div><% end %><% end %><% current_subgroup = field.sub_category %><% end %><div class="<%= (field.calculated) ? "total-line" : "fieldline" %>"><% if field.calculated %><span class="statement-label"><%= field.display_name %></span><span class="statement-total" id="<%= "#{table.name}_#{field.calculated_name}" %>">0</span><% else %>
  	@Html.LabelFor(model => model.<%= "#{table.name}.#{field.csharp_name}" %>, new { @class = "statement-label<%= " sub-category" if field.sub_category %>"} )
  	@Html.TextBoxFor(model => model.<%= "#{table.name}.#{field.csharp_name}" %>, new { @class = "statement-money" })
  <% end %></div><% end %>
<% end %>
<br />
<input type="submit" value="Save Changes" />
</fieldset>
<% end %>

<input type="submit" value="Save Changes" />

}

@section header {
<h1><%= "#{@entity_type} - #{@filing_type}" %></h1>
}

@section navigation {
<ul>
<% @tables.each do |table| %>
	<li><a href="javascript:void(0);" id="nav-<%= table.name %>" class="filing-nav"><%= table.display_name %></a></li><% end %>
</ul>
}

@section scripts {
    @Scripts.Render("~/Scripts/<%= "#{@entity_type}#{@filing_type}" %>Scripts.js")
}
